.header {
    background-color: #000;
    height: 80px;
    padding: 0;
    display: flex;
    align-items: center;
}

.header__inner {
    width: 95%;
    max-width: 1540px;
    min-width: 1400px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo a {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
}

.header__search-form {
    flex: 1;
    margin: 0 40px;
    display: flex;
    justify-content: center;
}

.header__search-input {
    width: 100%;
    max-width: 500px;
    height: 50px;
    padding: 8px 12px;
    color: #000;
    font-size: 24px;
    border: none;
    border-radius: 5px;
}

.header__search-input::placeholder {
    color: #000;
    padding-left: 30px;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 30px;
    white-space: nowrap;
}

.header__button-logout {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 24px;
    font-family: inherit;
    cursor: pointer;
    text-decoration: none;
}

.header__link {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.header__button-listing {
    width: 100px;
    height: 50px;
    padding: 8px 12px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 4px;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
}
